<!DOCTYPE html>
<html ng-app="airQualityApp">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Air Quality Web App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="styles.css"/>
    <script src="js.js"></script>
    <!--airQualityApp.js : this script is currently for the table-->
    <script src="airQualityApp.js"></script>
  </head>
  <body>
    <h1>Air Quality Web App</h1>
    <input id="pac-input" class="controls" type="text" ng-model="locationInput" placeholder="Enter a location: ">
    <div>

      <h4 id='addr'>{{address}}</h4>
      <h4 id = 'll' >{{lnglat}}</h4>

    </div>

    <div id="map"></div>

    <div id="dataTable" ng-controller="tableController">
		<select ng-model="particle">
			<option ng-repeat="type in particleTypeList">{{type}}</option>
		</select>
		<table >
			<th>Location</th><th>date</th><th>type</th><th>Value</th>
			<tr ng-repeat="x in tableData">
				<td>{{x.location}}</td>
				<td>{{x.measurements[0].lastUpdated}}</td>
				<td>{{x.measurements[0].parameter}}</td>
				<td>{{x.measurements[0].value}}{{x.measurements[0].unit}}</td>
			</tr>
		</table>
    </div>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZnh-iHB9U_H2RYHtK_l0sNH9tHzWLaNs&libraries=places&callback=initMap">
   </script>
  </body>
</html>
